<!DOCTYPE html>
<html lang="es" th:fragment="principal (titulo, contenido)"
	xmlns:th="http://www.thymeleaf.org" class="h-100">
<head>
<meta charset="UTF-8">

<base href="/" />
<title th:replace="${titulo}">TÍTULO</title>

<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/bootstrap-icons.css">

<link rel="stylesheet" href="css/dataTables.bootstrap5.min.css">

<link rel="stylesheet" href="css/ipartekify.css">

<link rel="shortcut icon" href="favicon.ico" type="image/png" />


</head>
<body class="h-100 bg-dark text-light pt-5">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"
		aria-label="Menú principal">
		<div class="container-fluid">
			<a class="navbar-brand" href="#" th:include="${titulo}">TÍTULO</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<span class="ms-auto navbar-text">${sessionScope.usuario.email}</span>
				<ul class="navbar-nav mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link" href="admin/">Administración</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="logout">Logout</a></li>
					<li class="nav-item"><a class="nav-link" href="login">Login</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<main class="container-fluid h-100">
		<div class="row h-100 bg-dark text-light" th:include="${contenido}">
			CONTENIDO</div>
	</main>

	<script src="js/bootstrap.bundle.min.js"></script>

	<script src="js/jquery-3.6.0.min.js"></script>
	<script src="js/jquery.dataTables.min.js"></script>
	<script src="js/dataTables.bootstrap5.min.js"></script>

	<script>
		$(function() {
			$('table.admin').DataTable({
				language : {
					url : 'json/dataTables_es_ES.json'
				}
			});
		});
	</script>

</body>
</html>
