<!DOCTYPE html>
<html lang="es"
	th:replace="~{fragmentos/principal :: principal(~{::title}, ~{::article})}"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Admin Ipartekify</title>
</head>
<body>
	<article>
		<form th:action="@{/admin/artistas/guardar}" th:object="${artistaDTO}" method="post" class="container">
			<fieldset>
				<legend>Artista</legend>
				<div class="row mb-3">
					<label for="id" class="col-sm-2 col-form-label">Id</label>
					<div class="col-sm-10">
						<input type="number" class="form-control" th:field="*{id}" readonly>
					</div>
				</div>
				<div class="row mb-3">
					<label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" th:field="*{nombre}">
						<div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="text-danger">
							 Errores de nombre
						</div>
					</div>
				</div>
				<div class="row mb-3">
					<label for="informacion" class="col-sm-2 col-form-label">Información</label>
					<div class="col-sm-10">
						<textarea rows="10" class="form-control" th:field="*{informacion}"></textarea>
					</div>
				</div>
				<div class="row mb-3">
					<div class="offset-sm-2 col-sm-10">
						<button type="submit" class="btn btn-primary">Guardar</button>
					</div>
				</div>
			</fieldset>
		</form>
		
		<div th:replace="~{fragmentos/admin/tabla_albumes :: tabla_albumes}"></div>
	</article>
</body>
</html>
